<div class="footer-page " id="footer">
    <nav class="n-footerbar navbar-fixed-bottom">
        <div class="panel-body">
            <div class="col-xs-4 col-sm-4 col-md-3 col-ld-3 n-ha-left">
              <!--<a class="n-appname" href="#">Deal<span>in</span>Teal</a>-->
              <a class="n-applogo" href="javascript:void(0);">
                <img src="/images/dealinteal_footer_logo.png">
              </a>
            </div>
            <div class="hidden-xs hidden-sm col-md-6 col-ld-3 n-ha-center">
                <span class="n-appdesc">{{"CRM_AND_SALES_FORCE_MANAGEMENT_SYSTEM" | translate}}&nbsp;{{meta.version}}&nbsp;{{meta.env}}</span>
            </div>
            <div class="hidden-xs hidden-sm col-md-3 col-ld-3 n-ha-right">
                <a href="http://www.notia.com">
                  <img src="images/notia_logo.png">
                </a>
            </div>
            <div class="col-xs-8 col-sm-8 hidden-md hidden-lg n-ha-right">
                <span class="n-appdesc">{{"CRM_AND_SALES_FORCE_MANAGEMENT_SYSTEM" | translate}}</span>
            </div>
        </div>
    </nav>
</div>
