<div class="container-fluid sales">
  <div class="">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
      <span class="h1">{{'SALES' | translate}}</span>
    </div>
    <div class="hidden-xs col-sm-6 col-md-3 col-lg-3">
      <form role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{'SEARCH_SALES' | translate}}"
                 data-ng-model="searchStr"
                 data-ng-keyup="setSearch($event)">
        </div>
      </form>
    </div>
    <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
      <div class="btn-group">
        <button type="button" class="btn btn-default"
                data-ng-model="dataLoaderParams.sortField"
                data-uib-btn-radio="'code'"
                data-ng-disabled="infoPaging.inProcess">{{'COMPANY' | translate}}
        </button>
        <button type="button" class="btn btn-default"
                data-ng-model="dataLoaderParams.sortField"
                data-uib-btn-radio="'name'"
                data-ng-disabled="infoPaging.inProcess">{{'PRODUCT' | translate}}
        </button>
        <button type="button" class="btn btn-default"
                data-ng-model="dataLoaderParams.sortField"
                data-uib-btn-radio="'name'"
                data-ng-disabled="infoPaging.inProcess">{{'PERSON' | translate}}
        </button>
        <button type="button" class="btn btn-default"
                data-ng-model="dataLoaderParams.sortField"
                data-uib-btn-radio="'name'"
                data-ng-disabled="infoPaging.inProcess">{{'PRICE' | translate}}
        </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default glyphicon glyphicon-arrow-up active"
                data-ng-model="dataLoaderParams.sortDirection"
                data-uib-btn-radio="'asc'"
                data-ng-disabled="infoPaging.inProcess"></button>
        <button type="button" class="btn btn-default glyphicon glyphicon-arrow-down"
                data-ng-model="dataLoaderParams.sortDirection"
                data-uib-btn-radio="'desc'"
                data-ng-disabled="infoPaging.inProcess"></button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="container-fluid saless">
  <div class="n-list-header">
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>{{'DATE' | translate}}</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>{{'DOCUMENT' | translate}}</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>{{'COMPANY' | translate}}</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>{{'PRODUCT' | translate}}</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 n-vpadding-1 n-ha-right">
      <span>{{'QUANTITY' | translate}}</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 n-vpadding-1 n-ha-right">
      <span>{{'PRICE_TOTAL' | translate}}</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>{{'TEAM_MEMBER' | translate}}</span>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="n-list-content">
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>24.12.2013</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>ABC123/2013</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>První parolodní</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>Powerball 250 Hz</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 n-vpadding-1 n-ha-right">
      <span>150</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 n-vpadding-1 n-ha-right">
      <span>12 354</span>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 n-vpadding-1">
      <span>Milan</span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="n-ha-center">
  <pagination-notia
    load-data="dataLoader"
    load-data-params="dataLoaderParams"
    amount="10"
    list-data="products"
    button-all="false"
    info="infoPaging"
  ></pagination-notia>
</div>

